asn1crypto==0.24.0
cffi==1.11.5
cryptography==3.2
django>=2.0.11
django-cors-headers==2.2.0
djangorestframework>=3.9.1
djangorestframework-jwt==1.11.0
ecdsa==0.13
future==0.16.0
idna==2.7
pyasn1==0.4.3
pycparser==2.18
PyJWT==1.6.4
python-jose==3.0.0
pytz==2018.4
rsa==3.4.2
six==1.11.0
